body {
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  
}
.card img {
  max-height: 250px;
  width: auto;
}

.card {
  justify-items: center;
  padding: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

ul li a {
  text-decoration: none;
  color: black;
}
